<header>
  <div class="header-content">
    <a href="/orders" class="logo-link">
      <img src="/logo.png" alt="BMSTU Logo" class="header-logo">
    </a>
    <h1>BMSTU Application</h1>
  </div>
  <hr>
</header>